


















































































































USE [user182_db]
GO
/****** Object:  Table [dbo].[Demo_Kontragenty]    Script Date: 02.06.2026 19:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demo_Kontragenty](
	[kontragenty_id] [int] IDENTITY(1,1) NOT NULL,
	[naimenovaniye] [nvarchar](150) NULL,
	[inn] [nvarchar](20) NULL,
	[adres] [nvarchar](255) NULL,
	[telefon] [nvarchar](20) NULL,
	[ispolnitel] [bit] NULL,
	[zakazchik] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[kontragenty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demo_Materialy]    Script Date: 02.06.2026 19:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demo_Materialy](
	[materialy_id] [int] IDENTITY(1,1) NOT NULL,
	[naimenovaniye] [nvarchar](150) NULL,
	[kod] [nvarchar](50) NULL,
	[ed_izmereniya] [nvarchar](10) NULL,
	[tsena] [money] NULL,
 CONSTRAINT [PK__Demo_Mat__319B9B8580285913] PRIMARY KEY CLUSTERED 
(
	[materialy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demo_Polzovateli]    Script Date: 02.06.2026 19:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demo_Polzovateli](
	[polzovateli_id] [int] IDENTITY(1,1) NOT NULL,
	[login_polzovatelya] [nvarchar](50) NOT NULL,
	[parol] [nvarchar](255) NOT NULL,
	[imya] [nvarchar](50) NULL,
	[familiya] [nvarchar](50) NULL,
	[otchestvo] [nvarchar](50) NULL,
	[id_roli] [int] NULL,
	[zablokirovan] [bit] NULL,
 CONSTRAINT [PK__Demo_Pol__48D8AE8A1B767C27] PRIMARY KEY CLUSTERED 
(
	[polzovateli_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demo_PozitsiiZak]    Script Date: 02.06.2026 19:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demo_PozitsiiZak](
	[pozitsii_zak_id] [int] IDENTITY(1,1) NOT NULL,
	[id_zakaz] [int] NULL,
	[id_produktsiya] [int] NULL,
	[kolich] [decimal](10, 3) NULL,
	[summa] [money] NOT NULL,
 CONSTRAINT [PK__Demo_Poz__AE25ACF4DC1D9B08] PRIMARY KEY CLUSTERED 
(
	[pozitsii_zak_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demo_Produktsiya]    Script Date: 02.06.2026 19:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demo_Produktsiya](
	[produktsiya_id] [int] IDENTITY(1,1) NOT NULL,
	[naimenovaniye] [nvarchar](150) NULL,
	[kod] [nvarchar](50) NULL,
	[ed_izmereniya] [nvarchar](10) NULL,
	[tsena] [money] NULL,
	[fasovka] [nvarchar](50) NULL,
	[zhirnost] [nvarchar](20) NULL,
 CONSTRAINT [PK__Demo_Pro__58A7C2FB2C032480] PRIMARY KEY CLUSTERED 
(
	[produktsiya_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demo_Proizv]    Script Date: 02.06.2026 19:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demo_Proizv](
	[proizv_id] [int] IDENTITY(1,1) NOT NULL,
	[nomer_pr_va] [nvarchar](20) NULL,
	[data_pr_va] [date] NULL,
	[id_produktsiya] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[proizv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demo_Roli]    Script Date: 02.06.2026 19:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demo_Roli](
	[roli_id] [int] IDENTITY(1,1) NOT NULL,
	[naimenovaniye] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Demo_Rol__9DC7943C08345819] PRIMARY KEY CLUSTERED 
(
	[roli_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demo_Spetsifikatsiya]    Script Date: 02.06.2026 19:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demo_Spetsifikatsiya](
	[spetsifikatsiya_id] [int] IDENTITY(1,1) NOT NULL,
	[id_produktsiya] [int] NULL,
	[id_materialy] [int] NULL,
	[kolichestvo] [decimal](10, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[spetsifikatsiya_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demo_Zakaz]    Script Date: 02.06.2026 19:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demo_Zakaz](
	[zakaz_id] [int] IDENTITY(1,1) NOT NULL,
	[nomer] [nvarchar](20) NULL,
	[data_zakaza] [date] NULL,
	[id_kontragenty_isp] [int] NULL,
	[id_kontragenty_zak] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[zakaz_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Demo_Kontragenty] ON 

INSERT [dbo].[Demo_Kontragenty] ([kontragenty_id], [naimenovaniye], [inn], [adres], [telefon], [ispolnitel], [zakazchik]) VALUES (1, N'ООО "Поставка"', N'', N'г.Пятигорск', N'+79198634592', 1, 1)
INSERT [dbo].[Demo_Kontragenty] ([kontragenty_id], [naimenovaniye], [inn], [adres], [telefon], [ispolnitel], [zakazchik]) VALUES (2, N'ООО "Кинотеатр Квант"', N'26320045123', N'г. Железноводск, ул. Мира, 123', N'+79884581555', 1, 0)
INSERT [dbo].[Demo_Kontragenty] ([kontragenty_id], [naimenovaniye], [inn], [adres], [telefon], [ispolnitel], [zakazchik]) VALUES (3, N'ООО "Новый JDTO"', N'26320045111', N'г. Железноводсу', N'+79884581555', 1, 0)
SET IDENTITY_INSERT [dbo].[Demo_Kontragenty] OFF
GO
SET IDENTITY_INSERT [dbo].[Demo_Materialy] ON 

INSERT [dbo].[Demo_Materialy] ([materialy_id], [naimenovaniye], [kod], [ed_izmereniya], [tsena]) VALUES (1, N'Молоко нормализованное', N'НФ-00000004', N'кг', 34.0000)
INSERT [dbo].[Demo_Materialy] ([materialy_id], [naimenovaniye], [kod], [ed_izmereniya], [tsena]) VALUES (2, N'Закваска сметанная', N'НФ-00000005', N'кг', 45.0000)
SET IDENTITY_INSERT [dbo].[Demo_Materialy] OFF
GO
SET IDENTITY_INSERT [dbo].[Demo_Polzovateli] ON 

INSERT [dbo].[Demo_Polzovateli] ([polzovateli_id], [login_polzovatelya], [parol], [imya], [familiya], [otchestvo], [id_roli], [zablokirovan]) VALUES (1, N'admin', N'admin123', N'1', N'erge', N'0', 1, 0)
INSERT [dbo].[Demo_Polzovateli] ([polzovateli_id], [login_polzovatelya], [parol], [imya], [familiya], [otchestvo], [id_roli], [zablokirovan]) VALUES (2, N'user1', N'user123', N'2', N'0', N'0', 2, 0)
INSERT [dbo].[Demo_Polzovateli] ([polzovateli_id], [login_polzovatelya], [parol], [imya], [familiya], [otchestvo], [id_roli], [zablokirovan]) VALUES (4, N'user2', N'user123', N'2', N'0', N'0', 2, 0)
SET IDENTITY_INSERT [dbo].[Demo_Polzovateli] OFF
GO
SET IDENTITY_INSERT [dbo].[Demo_PozitsiiZak] ON 

INSERT [dbo].[Demo_PozitsiiZak] ([pozitsii_zak_id], [id_zakaz], [id_produktsiya], [kolich], [summa]) VALUES (1, 1, 1, CAST(12.000 AS Decimal(10, 3)), 960.0000)
INSERT [dbo].[Demo_PozitsiiZak] ([pozitsii_zak_id], [id_zakaz], [id_produktsiya], [kolich], [summa]) VALUES (2, 1, 2, CAST(9.000 AS Decimal(10, 3)), 738.0000)
INSERT [dbo].[Demo_PozitsiiZak] ([pozitsii_zak_id], [id_zakaz], [id_produktsiya], [kolich], [summa]) VALUES (3, 1, 3, CAST(10.000 AS Decimal(10, 3)), 790.0000)
SET IDENTITY_INSERT [dbo].[Demo_PozitsiiZak] OFF
GO
SET IDENTITY_INSERT [dbo].[Demo_Produktsiya] ON 

INSERT [dbo].[Demo_Produktsiya] ([produktsiya_id], [naimenovaniye], [kod], [ed_izmereniya], [tsena], [fasovka], [zhirnost]) VALUES (1, N'Кефир 2,5% 900г.', N'ПР-001', N'шт', 80.0000, N'900г.', N'2,5%')
INSERT [dbo].[Demo_Produktsiya] ([produktsiya_id], [naimenovaniye], [kod], [ed_izmereniya], [tsena], [fasovka], [zhirnost]) VALUES (2, N'Кефир 3,2% 900г.', N'ПР-002', N'шт', 82.0000, N'900г.', N'3,2%')
INSERT [dbo].[Demo_Produktsiya] ([produktsiya_id], [naimenovaniye], [kod], [ed_izmereniya], [tsena], [fasovka], [zhirnost]) VALUES (3, N'Молоко 2,5% 900г.', N'ПР-003', N'шт', 70.0000, N'900г.', N'2,5%')
SET IDENTITY_INSERT [dbo].[Demo_Produktsiya] OFF
GO
SET IDENTITY_INSERT [dbo].[Demo_Proizv] ON 

INSERT [dbo].[Demo_Proizv] ([proizv_id], [nomer_pr_va], [data_pr_va], [id_produktsiya]) VALUES (1, N'1', CAST(N'2025-06-09' AS Date), 5)
SET IDENTITY_INSERT [dbo].[Demo_Proizv] OFF
GO
SET IDENTITY_INSERT [dbo].[Demo_Roli] ON 

INSERT [dbo].[Demo_Roli] ([roli_id], [naimenovaniye]) VALUES (1, N'Администратор')
INSERT [dbo].[Demo_Roli] ([roli_id], [naimenovaniye]) VALUES (2, N'Пользователь')
SET IDENTITY_INSERT [dbo].[Demo_Roli] OFF
GO
SET IDENTITY_INSERT [dbo].[Demo_Spetsifikatsiya] ON 

INSERT [dbo].[Demo_Spetsifikatsiya] ([spetsifikatsiya_id], [id_produktsiya], [id_materialy], [kolichestvo]) VALUES (1, 5, 1, CAST(0.900 AS Decimal(10, 3)))
INSERT [dbo].[Demo_Spetsifikatsiya] ([spetsifikatsiya_id], [id_produktsiya], [id_materialy], [kolichestvo]) VALUES (2, 5, 2, CAST(0.070 AS Decimal(10, 3)))
SET IDENTITY_INSERT [dbo].[Demo_Spetsifikatsiya] OFF
GO
SET IDENTITY_INSERT [dbo].[Demo_Zakaz] ON 

INSERT [dbo].[Demo_Zakaz] ([zakaz_id], [nomer], [data_zakaza], [id_kontragenty_isp], [id_kontragenty_zak]) VALUES (1, N'2', CAST(N'2025-06-06' AS Date), 6, 6)
SET IDENTITY_INSERT [dbo].[Demo_Zakaz] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Demo_Pol__82537420826B8AC7]    Script Date: 02.06.2026 19:18:50 ******/
ALTER TABLE [dbo].[Demo_Polzovateli] ADD  CONSTRAINT [UQ__Demo_Pol__82537420826B8AC7] UNIQUE NONCLUSTERED 
(
	[login_polzovatelya] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Demo_Polzovateli] ADD  CONSTRAINT [DF__Demo_Polz__zablo__3434A84B]  DEFAULT ((0)) FOR [familiya]
GO
ALTER TABLE [dbo].[Demo_Polzovateli] ADD  CONSTRAINT [DF__Demo_Polz__kolic__3528CC84]  DEFAULT ((0)) FOR [otchestvo]
GO
ALTER TABLE [dbo].[Demo_Polzovateli]  WITH CHECK ADD  CONSTRAINT [FK_Demo_Polzovateli_Demo_Roli] FOREIGN KEY([id_roli])
REFERENCES [dbo].[Demo_Roli] ([roli_id])
GO
ALTER TABLE [dbo].[Demo_Polzovateli] CHECK CONSTRAINT [FK_Demo_Polzovateli_Demo_Roli]
GO
ALTER TABLE [dbo].[Demo_PozitsiiZak]  WITH CHECK ADD  CONSTRAINT [FK__Demo_Pozi__id_pr__1980B20F] FOREIGN KEY([id_produktsiya])
REFERENCES [dbo].[Demo_Produktsiya] ([produktsiya_id])
GO
ALTER TABLE [dbo].[Demo_PozitsiiZak] CHECK CONSTRAINT [FK__Demo_Pozi__id_pr__1980B20F]
GO
ALTER TABLE [dbo].[Demo_PozitsiiZak]  WITH CHECK ADD  CONSTRAINT [FK__Demo_Pozi__id_za__188C8DD6] FOREIGN KEY([id_zakaz])
REFERENCES [dbo].[Demo_Zakaz] ([zakaz_id])
GO
ALTER TABLE [dbo].[Demo_PozitsiiZak] CHECK CONSTRAINT [FK__Demo_Pozi__id_za__188C8DD6]
GO
ALTER TABLE [dbo].[Demo_Proizv]  WITH CHECK ADD  CONSTRAINT [FK__Demo_Proi__id_pr__1C5D1EBA] FOREIGN KEY([id_produktsiya])
REFERENCES [dbo].[Demo_Produktsiya] ([produktsiya_id])
GO
ALTER TABLE [dbo].[Demo_Proizv] CHECK CONSTRAINT [FK__Demo_Proi__id_pr__1C5D1EBA]
GO
ALTER TABLE [dbo].[Demo_Spetsifikatsiya]  WITH CHECK ADD  CONSTRAINT [FK__Demo_Spet__id_ma__202DAF9E] FOREIGN KEY([id_materialy])
REFERENCES [dbo].[Demo_Materialy] ([materialy_id])
GO
ALTER TABLE [dbo].[Demo_Spetsifikatsiya] CHECK CONSTRAINT [FK__Demo_Spet__id_ma__202DAF9E]
GO
ALTER TABLE [dbo].[Demo_Spetsifikatsiya]  WITH CHECK ADD  CONSTRAINT [FK__Demo_Spet__id_pr__1F398B65] FOREIGN KEY([id_produktsiya])
REFERENCES [dbo].[Demo_Produktsiya] ([produktsiya_id])
GO
ALTER TABLE [dbo].[Demo_Spetsifikatsiya] CHECK CONSTRAINT [FK__Demo_Spet__id_pr__1F398B65]
GO
ALTER TABLE [dbo].[Demo_Zakaz]  WITH CHECK ADD FOREIGN KEY([id_kontragenty_isp])
REFERENCES [dbo].[Demo_Kontragenty] ([kontragenty_id])
GO
ALTER TABLE [dbo].[Demo_Zakaz]  WITH CHECK ADD FOREIGN KEY([id_kontragenty_zak])
REFERENCES [dbo].[Demo_Kontragenty] ([kontragenty_id])
GO
